

.titlePop {
	color:#5274df;
	
	font-size: 18pt;
	margin-bottom: 10px;
	margin-bottom: 0;
	line-height: 1.5;
	text-align:center;
}

.titleorden{
	border: none;
	display: inline-block;
	color:#5274df;
	font-size: 18pt;
	margin-bottom: 10px;
	margin-bottom: 0;
	line-height: 1.5;	
}

.datosVerificar{
	border: none;
	display: inline-block;
	color: #9b9da9;
	font-size: 13pt;
	margin-bottom: 10px;
	margin-bottom: 0;
	line-height: 1.5;	
}

.textPop {
	color:#858796;
	font-size: 12pt;
	font-weight: bold;
	
	line-height: 1.5;
	text-align:center;
}

.bloquePop {
	color:#858796;
	font-size: 12pt;
	line-height: 1.5;
	text-align:center;
	border-radius: 3px;
	
}


.btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #bbbbbbd7;
	top: 100%;
	
}

.btn-cerrar-popup:hover {
	color: rgb(253, 253, 253);
}
